<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.deepak.knote">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.NewNoteActivity"
            android:label="New Note"
            android:parentActivityName=".view.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.UpdateNoteActivity"
            android:label="Update Note"
            android:parentActivityName=".view.ui.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.AboutActivity"
            android:parentActivityName=".view.ui.MainActivity"
            android:theme="@style/AppTheme.MaterialAboutActivity" />
        <activity
            android:name=".view.ui.LicenseActivity"
            android:label="Licenses"
            android:parentActivityName=".view.ui.AboutActivity" />
        <activity android:name=".view.ui.TrashActivity"></activity>
    </application>

</manifest>